@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Thanh Toán thất bại</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <img src="https://www4.bing.com/bingparachute/panda.png" alt="Failure Image" style="width:50%;height:auto;" />
                <h3 style="color:red;">Xin lỗi, có vẻ như đã có lỗi xảy ra trong quá trình thanh toán.</h3>
                <p>Vui lòng thử lại sau hoặc liên hệ với chúng tôi nếu bạn cần hỗ trợ.</p>
                <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>
