@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    KATQ_TEAM
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    012 2423 112
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:machtai0412@gmail.com">machtai0412@gmail.com</a><br />
</address>