@model IEnumerable<KATQ_TEAM.Models.Hedieuhanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý hệ điều hành</h2>

<p>
    <button class="btn-success btn" style="color:white">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<table class="table table-bordered table-sm table-hover">
    <tr>
        <th>
            Mã hệ điều hành
        </th>
        <th>
            Tên hệ điều hành
        </th>
        <th>Hành động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahdh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhdh)
            </td>
            <td>
                <div class="d-flex">
                    <button class="btn btn-warning">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.Mahdh }, new { @style = "color:white;" })
                    </button>
                    @using (Html.BeginForm("DeleteConfirmed", "Hedieuhanhs", new { id = item.Mahdh }, FormMethod.Post, new { onsubmit = "return confirm('Bạn có chắc chắn muốn xóa không?');" }))
                    {
                        <input type="submit" value="Xoá" class="btn btn-danger ml-3" />
                    }
                </div>
            </td>
        </tr>
    }

</table>
