@model IEnumerable<KATQ_TEAM.Models.Thongke>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<table class="table table-bordered table-sm table-hover">
    <thead class="bg-light">
        <tr>
            <th class="text-center text-nowrap">
                Tên khách hàng
            </th>
            <th class="text-center text-nowrap">
                Số điện thoại
            </th>
            <th class="text-center text-nowrap">
                Tổng tiền đã mua
            </th>
            <th class="text-center text-nowrap">
                Số lượng đơn hàng
            </th>
           
        </tr>
    </thead>
    <tbody class="animated fadeInUp">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tennguoidung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dienthoai)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Tongtien) VNĐ
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soluong)
                </td>
                
            </tr>
        }
    </tbody>
</table>

