@model IEnumerable<KATQ_TEAM.Models.Hangsanxuat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý hãng điện thoại</h2>
<p>
    <button class="btn-success btn" style="color:white">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<table class="table table-bordered table-sm table-hover">
    <tr>

        <th>
            Mã hãng
        </th>
        <th>
            Tên hãng
        </th>
        <th>
            Hành động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mahang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                <div style="display:flex;">
                    <button class="btn btn-warning mr-3">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.Mahang }, new { @style = "color:white;" })
                    </button>
                    
                    @using (Html.BeginForm("DeleteConfirmed", "Hangsanxuats", new { id = item.Mahang }, FormMethod.Post, new { onsubmit = "return confirm('Bạn có chắc chắn muốn xóa không?');" }))
                    {
                        <input type="submit" value="Xoá" class="btn btn-danger" />
                    }
                </div>

            </td>
        </tr>
    }

</table>
