@model IEnumerable<KATQ_TEAM.Models.DonHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            Họ tên khách hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Tình trạng đơn hàng
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Địa chỉ nhận hàng
        </th>
        <th>
            Hành động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nguoidung.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @{ if (item.Tinhtrang == 0)
                    {
                        <h5 style="color:red">Chờ xác nhận. </h5>
                    }
                    else if (item.Tinhtrang == 1)
                    {
                        <h5 style="color:green">Đã xác nhận</h5>
                    }
                    else
                    {
                        <h5 style="color:orangered">Chờ xác nhận</h5>
                    }
                }
            </td>
            <td>
                @String.Format("{0:0,0}", item.Tongtien) USD
            </td>
            <td>
                @{ if (item.PhuongThuc == "COD")
                    {
                        <div style="color:red">Thanh toán tiền mặt</div>
                    }
                    else if (item.PhuongThuc == "PayPal")
                    {
                        <div style="color:brown">Thanh toán PayPal</div>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachinhanhang)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "DonHangs", new { id = item.Madon }, FormMethod.Post, new { onsubmit = "return confirm('Bạn có chắc chắn muốn xóa đơn hàng này không?');" }))
                {
                    <input type="submit" value="Xoá" class="btn btn-danger" />
                }
            </td>
        </tr>
    }

</table>
